# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# PHP
vendor/
*.log
.env
backend/.phpunit.result.cache
backend/public/css/filament/
backend/public/fonts/filament/
backend/public/js/filament/

# Node
node_modules/
.next/

# Docker
postgres_data/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
